<!-- views/pages/editor.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GrapesJS Editor</title>
  <link rel="stylesheet" href="/node_modules/grapesjs/dist/css/grapes.min.css">
</head>
<body>
  <div id="gjs" style="height:100%; border:1px solid #ccc;"></div>

  <script src="/node_modules/grapesjs/dist/grapes.min.js"></script>
  <script type="text/javascript">
    const editor = grapesjs.init({
      container: '#gjs',
      height: '100%',
      width: 'auto',
      fromElement: true,
      storageManager: { autoload: 0 },
      blockManager: {
        appendTo: '#blocks',
        blocks: [
          {
            id: 'section',
            label: '<b>Section</b>',
            content: `<section>
              <h1>This is a simple title</h1>
              <p>This is just a Lorem text: Lorem ipsum dolor sit amet</p>
            </section>`,
          }
        ]
      }
    });
  </script>
</body>
</html>
