<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Mensagem</h5>
        <!-- Botão de fechar com função onclick -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="handleCloseModal()"></button>
      </div>
      <div class="modal-body">
        <p id="messageModalBody"></p>
      </div>
      <div class="modal-footer">
        <!-- Botão de fechar com função onclick -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="handleCloseModal()">Fechar</button>
      </div>
    </div>
  </div>
</div>
